@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "navbar" "ham" "header" "hero" "footer" "copyright";
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
}

.header {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: header;
}

.hero {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: hero;
}

.footer {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: footer;
}

.copyright {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: copyright;
}

.hamburger {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: ham;
  display: none;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: solid rgba(0, 0, 0, 0.13) 1px;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.navbar .logo h2 {
  font-family: serif;
  font-size: 20pt;
  line-height: 20pt;
  font-weight: 400;
}

.navbar .logo p {
  font-family: "Montserrat";
  font-size: 14pt;
  line-height: 14pt;
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
  font-style: italic;
  font-weight: 200;
}

.navbar .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 360px;
}

.navbar .navlinks a {
  text-decoration: none;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navlinks a:hover {
  color: orange;
}

.hero {
  width: 60%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 100px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #6c6cd6;
  -webkit-box-shadow: 0px 4px 10px #bdbdbd;
          box-shadow: 0px 4px 10px #bdbdbd;
  padding: 20px 30px 20px 30px;
}

.hero .prod img {
  width: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0%;
     object-position: 0%;
}

.hero .prod a {
  background-color: #db9494;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.hero .prod p {
  width: 110%;
}

.hero .prod a:hover {
  background-color: #aa7d7d;
}

.hero .prod .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.hero .prod .price p {
  color: #cc4848;
  font-size: 16pt;
  font-weight: 600;
  width: 100px;
}

.hero .prod:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 30pt;
  font-weight: 300;
}

.header p {
  font-size: 17pt;
  font-weight: 200;
}

.footer {
  width: 90%;
  margin-left: 50%;
  margin-top: 70px;
  margin-bottom: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(362px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
  grid-column-gap: 200px;
}

.footer .left .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .left .links a {
  text-decoration: none;
  color: black;
  font-size: 17pt;
  font-weight: 300;
}

.footer .left h5 {
  font-size: 12pt;
}

.footer .left p {
  font-weight: 300;
}

.footer .left .mail a {
  font-size: 11pt;
  text-decoration: none;
  color: black;
}

.footer .mid h3 {
  font-weight: 700;
  font-size: 15pt;
}

.footer .mid p {
  font-weight: 300;
  font-size: 14pt;
}

.footer .right h4 {
  font-weight: 300;
  font-size: 18pt;
}

.footer .right input {
  padding: 10px;
  padding-left: 55px;
  padding-right: 55px;
  text-align: center;
}

.footer .right button {
  padding: 10px;
  background-color: orange;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.footer .right button:hover {
  background-color: darkorange;
}

.copyright {
  text-align: center;
}

@media only screen and (max-width: 700px) {
  .navbar .navlinks {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .hero {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width: 100%;
    margin-left: 0px;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  main {
    width: 100%;
  }
}

#menuToggle {
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: #232323;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  margin-right: 20px;
  background: #000000;
  border-radius: 3px;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-2px, -1px);
          transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 84vw;
  margin: -100px 0 0 -500px;
  height: 500vh;
  padding: 50px;
  padding-top: 125px;
  -webkit-box-shadow: 0px 4px 10px #bdbdbd;
          box-shadow: 0px 4px 10px #bdbdbd;
  border-radius: 5px;
  background: #ffffff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(-200%, 0);
          transform: translate(-200%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: none;
          transform: none;
}
/*# sourceMappingURL=style.css.map */