@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

$fam: "Montserrat";

body {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;

   font-family: $fam;
}
main {
   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
      "navbar"
      "ham"
      "header"
      "underheader"
      "bigprod"
      "hero"
      "textfooter"
      "footer"
      "copyright";
}
.navbar {
   grid-area: navbar;
}
.header {
   grid-area: header;
}
.underheader {
   grid-area: underheader;
}
.bigprod {
   grid-area: bigprod;
}
.hero {
   grid-area: hero;
}
.textfooter {
   grid-area: textfooter;
}
.footer {
   grid-area: footer;
}
.copyright {
   grid-area: copyright;
}
.hamburger {
   grid-area: ham;
   display: none;
}
.navbar {
   display: flex;
   justify-content: space-around;
   border-bottom: solid rgba(0, 0, 0, 0.13) 1px;
   .logo {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 25px;
      h2 {
         font-family: serif;
         font-size: 20pt;
         line-height: 20pt;
         font-weight: 400;
      }
      p {
         font-family: $fam;
         font-size: 14pt;
         line-height: 14pt;
         transform: translateY(-34px);
         font-style: italic;
         font-weight: 200;
      }
   }
   .navlinks {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 360px;
      a {
         text-decoration: none;
         color: black;
         justify-content: center;
      }
      a:hover {
         color: orange;
      }
   }
}
.hero {
   width: 60%;
   margin-left: 50%;
   transform: translateX(-50%);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
   grid-column-gap: 40px;
   grid-row-gap: 100px;
   align-content: center;
   .prod {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      justify-content: center;
      align-items: center;

      transition: 0.3s;

      color: rgb(108, 108, 214);

      box-shadow: 0px 4px 10px rgb(189, 189, 189);
      padding: 20px 30px 20px 30px;
      img {
         width: 200px;
         height: auto;
         object-fit: cover;
         object-position: 0%;
      }
      a {
         background-color: rgb(219, 148, 148);
         text-decoration: none;
         color: white;
         padding: 10px;
         border-radius: 20px;
      }
      p {
         width: 110%;
      }
      a:hover {
         background-color: rgb(170, 125, 125);
      }
      .price {
         display: flex;
         justify-content: space-around;
         align-items: center;
         width: 200px;

         p {
            color: rgb(204, 72, 72);
            font-size: 16pt;
            font-weight: 600;
            width: 100px;
         }
      }
   }
   .prod:hover {
      transform: translateY(-5px);
   }
}
.header {
   text-align: center;
   margin-bottom: 30px;
   color: white;
   background-image: url(../img/headimg.jpg);
   background-position: center center;
   background-size: cover;
   h1 {
      font-size: 30pt;
      font-weight: 400;
   }
   p {
      font-size: 17pt;
      font-weight: 300;
   }
}
.underheader {
   text-align: center;
   font-size: 19pt;
   font-weight: 300;
}
.bigprod {
   width: 60%;
   margin-left: 50%;
   margin-top: 40px;
   margin-bottom: 40px;
   transform: translateX(-50%);
   display: grid;
   cursor: pointer;
   grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
   grid-template-rows: 400px;
   .leftprod {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
         height: 90%;
      }
   }
   .rightprod {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      color: white;
      background-color: rgb(212, 160, 169);
      p {
         width: 70%;
         margin-left: 50%;
         transform: translateX(-50%);
      }
      a {
         text-decoration: none;
         color: rgb(212, 160, 169);
         padding: 10px;
         background-color: white;
         width: 30%;
         margin-left: 50%;
         transform: translateX(-50%);
         font-weight: 500;
         font-size: 17pt;
      }
      a:hover {
         background-color: rgb(209, 209, 209);
      }
   }
}
.textfooter {
   width: 60%;
   margin-left: 50%;
   margin-top: 40px;
   margin-bottom: 40px;
   transform: translateX(-50%);
   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas:
      "up"
      "down";
   h1 {
      font-size: 20pt;
      font-weight: 400;
   }
   p {
      font-weight: 300;
      font-size: 14pt;
   }
   .txt {
      grid-area: up;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
      grid-column-gap: 40px;
      text-align: center;
   }
   .maintxt {
      grid-area: down;
   }
}
.footer {
   width: 90%;
   margin-left: 50%;
   margin-top: 70px;
   margin-bottom: 200px;
   transform: translateX(-50%);
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
   grid-column-gap: 200px;

   .left {
      .links {
         display: flex;
         flex-direction: column;
         a {
            text-decoration: none;
            color: black;
            font-size: 17pt;
            font-weight: 300;
         }
      }
      h5 {
         font-size: 12pt;
      }
      p {
         font-weight: 300;
      }
      .mail a {
         font-size: 11pt;
         text-decoration: none;
         color: black;
      }
   }
   .mid {
      h3 {
         font-weight: 700;
         font-size: 15pt;
      }
      p {
         font-weight: 300;
         font-size: 14pt;
      }
   }
   .right {
      h4 {
         font-weight: 300;
         font-size: 18pt;
      }
      input {
         padding: 10px;
         padding-left: 55px;
         padding-right: 55px;
         text-align: center;
      }
      button {
         padding: 10px;
         background-color: orange;
         border: none;
         margin-left: 10px;
         cursor: pointer;
      }
      button:hover {
         background-color: darkorange;
      }
   }
}
.copyright {
   text-align: center;
}

//PRODUCT.HTML
.product-main {
   display: grid;
   grid-template-columns: 1fr;
   width: 100%;
   grid-template-areas:
      "navbar"
      "ham"
      "product"
      "footer"
      "copyright";
}
.product {
   grid-area: product;

   margin-top: 60px;
   width: 60%;
   margin-left: 50%;
   transform: translateX(-50%);
   display: grid;
   grid-template-columns: 1fr;
}
.prod-main {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

   .prod-price {
      .iframe {
         margin-top: 10px;
      }
      h2 {
         font-size: 16pt;
         font-weight: 300;
      }
      h1 {
         font-size: 17pt;
         font-weight: 500;
      }
      p {
         font-size: 21pt;
         font-weight: 200;
      }
      .green-price {
         color: green;
      }
   }
}
.prod-desc {
   margin-top: 30px;

   h1 {
      font-size: 19pt;
      font-weight: 500;
   }
   p {
      font-weight: 300;
   }
}
@media only screen and (max-width: 700px) {
   .navbar {
      .navlinks {
         display: none;
      }
   }
   .hamburger {
      display: block;
   }
   .hero {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      width: 100%;
      margin-left: 0px;
      transform: translate(0px);
   }
   main {
      width: 100%;
   }
   .textfooter {
      margin-left: 10px;
      transform: translateX(0);
      width: 100%;
   }
   .bigprod {
      margin-left: 10px;
      transform: translateX(0);
      width: 100%;
   }
}
//THIS IS THE CODE FOR THE BURGERMENU
#menuToggle {
   display: block;
   position: relative;
   top: 50px;
   left: 50px;

   z-index: 1;

   -webkit-user-select: none;
   user-select: none;
}

#menuToggle a {
   text-decoration: none;
   color: #232323;

   transition: color 0.3s ease;
}

#menuToggle a:hover {
   color: tomato;
}

#menuToggle input {
   display: block;
   width: 40px;
   height: 32px;
   position: absolute;
   top: -7px;
   left: -5px;

   cursor: pointer;

   opacity: 0;
   z-index: 2;

   -webkit-touch-callout: none;
}

#menuToggle span {
   display: block;
   width: 33px;
   height: 4px;
   margin-bottom: 5px;
   position: relative;
   margin-right: 20px;
   background: #000000;
   border-radius: 3px;

   z-index: 1;

   transform-origin: 4px 0px;

   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
   transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
   transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
   opacity: 1;
   transform: rotate(45deg) translate(-2px, -1px);
   background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
   opacity: 0;
   transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
   transform: rotate(-45deg) translate(0, -1px);
}

#menu {
   position: absolute;
   width: 1100vw;
   margin: -100px 0 0 -500px;
   height: 3000px;
   padding: 50px;
   padding-top: 125px;
   box-shadow: 0px 4px 10px rgb(189, 189, 189);
   border-radius: 5px;
   background: #ffffff;
   list-style-type: none;
   -webkit-font-smoothing: antialiased;

   transform-origin: 0% 0%;
   transform: translate(-200%, 0);

   transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
   padding: 10px 0;
   font-size: 22px;
}

#menuToggle input:checked ~ ul {
   transform: none;
}

//prices
.btn {
   display: inline-block;
   font-weight: 400;
   text-align: center;
   white-space: nowrap;
   vertical-align: middle;
   -webkit-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   border: 1px solid transparent;
   border-top-color: transparent;
   border-right-color: transparent;
   border-bottom-color: transparent;
   border-left-color: transparent;
   padding: 0.375rem 0.75rem;
   font-size: 1rem;
   cursor: pointer;
   line-height: 1.5;
   border-radius: 0.25rem;
   transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.btn-success {
   color: #fff;
   background-color: #28a745;
   border-color: #28a745;
}
.list-group {
   display: -ms-flexbox;
   display: flex;
   -ms-flex-direction: column;
   flex-direction: column;
   padding-left: 0;
   margin-bottom: 0;
}

.list-group-item {
   position: relative;
   display: block;
   padding: 10px 15px;
   margin-bottom: -1px;
   background-color: #fff;
   border: 1px solid #ddd;
}
.list {
   -webkit-column-count: 3;
   -moz-column-count: 3;
   column-count: 3;
   list-style: none;
   font-size: 10vh;
   li {
      font-size: 4vh;
   }
}
.list-group-item-action {
   width: 100%;
   color: #495057;
   text-align: inherit;
}
.list-group-item:first-child {
   border-top-left-radius: 4px;
   border-top-right-radius: 4px;
}
.list-group-item:last-child {
   margin-bottom: 0;
   border-bottom-right-radius: 4px;
   border-bottom-left-radius: 4px;
}
