@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Montserrat";
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
      grid-template-areas: "navbar" "header" "hero" "footer" "copyright";
}

.navbar {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: navbar;
}

.header {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: header;
}

.hero {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: hero;
}

.footer {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: footer;
}

.copyright {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: copyright;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-bottom: solid rgba(0, 0, 0, 0.13) 1px;
}

.navbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-top: 25px;
}

.navbar .logo h2 {
  font-family: serif;
  font-size: 20pt;
  line-height: 20pt;
  font-weight: 400;
}

.navbar .logo p {
  font-family: "Montserrat";
  font-size: 14pt;
  line-height: 14pt;
  -webkit-transform: translateY(-34px);
          transform: translateY(-34px);
  font-style: italic;
  font-weight: 200;
}

.navbar .navlinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 360px;
}

.navbar .navlinks a {
  text-decoration: none;
  color: black;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar .navlinks a:hover {
  color: orange;
}

.hero {
  width: 60%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 90px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.hero .prod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #6c6cd6;
}

.hero .prod img {
  width: 200px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0%;
     object-position: 0%;
}

.hero .prod a {
  background-color: #db9494;
  text-decoration: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
}

.hero .prod a:hover {
  background-color: #aa7d7d;
}

.hero .prod .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}

.hero .prod .price p {
  color: #cc4848;
  font-size: 16pt;
  font-weight: 600;
}

.hero .prod:hover {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.header {
  text-align: center;
  margin-bottom: 30px;
}

.header h1 {
  font-size: 30pt;
  font-weight: 300;
}

.header p {
  font-size: 17pt;
  font-weight: 200;
}

.footer {
  width: 90%;
  margin-left: 50%;
  margin-top: 70px;
  margin-bottom: 200px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(362px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(362px, 1fr));
  grid-column-gap: 200px;
}

.footer .left .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .left .links a {
  text-decoration: none;
  color: black;
  font-size: 17pt;
  font-weight: 300;
}

.footer .left h5 {
  font-size: 12pt;
}

.footer .left p {
  font-weight: 300;
}

.footer .left .mail a {
  font-size: 11pt;
  text-decoration: none;
  color: black;
}

.footer .mid h3 {
  font-weight: 700;
  font-size: 15pt;
}

.footer .mid p {
  font-weight: 300;
  font-size: 14pt;
}

.footer .right h4 {
  font-weight: 300;
  font-size: 18pt;
}

.footer .right input {
  padding: 10px;
  padding-left: 55px;
  padding-right: 55px;
  text-align: center;
}

.footer .right button {
  padding: 10px;
  background-color: orange;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

.footer .right button:hover {
  background-color: darkorange;
}

.copyright {
  text-align: center;
}
/*# sourceMappingURL=style.css.map */